ClasesBase/cines.mdf
ClasesBase/cines_log.ldf
cines.mdf
cines_log.ldf
Vistas/obj/
Vistas/bin/
ClasesBase/bin/
ClasesBase/obj/
Vistas/bin/Debug/ClasesBase.dll
Vistas/bin/Debug/ClasesBase.pdb
Vistas/bin/Debug/Vistas.exe
Vistas/bin/Debug/Vistas.pdb
LPOO2-GRUPO2.suo
